repos:
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--config-file, .github/linters/.yamllint.yaml, --format, parsable]
        types: [yaml]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--severity=error]
        types: [shell]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: [--fix]
        types: [markdown]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        types: [yaml, markdown, shell]
      - id: end-of-file-fixer
        types: [yaml, markdown, shell]
      - id: check-yaml
        args: [--unsafe]
      - id: check-merge-conflict
      - id: detect-private-key
