apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-configmap # https://docs.pi-hole.net/ftldns/dnsmasq_warn/
  namespace: pihole # changes to /etc/pihole/pihole.toml within pod
data:
  TZ: "America/New_York"
  PIHOLE_DNS_: "8.8.8.8;8.8.4.4"
  pihole.toml: |
    [dns]
    listenAddress = "0.0.0.0"
    listeningMode = "all"
    localService = false
