apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-configmap # https://docs.pi-hole.net/ftldns/dnsmasq_warn/
  namespace: pihole # changes to /etc/pihole/pihole.toml within pod
data:
  TZ: "America/New_York"
  PIHOLE_DNS_: "8.8.8.8;8.8.4.4"
  pihole.toml: |
    [dns]
    listen_addresses = ["0.0.0.0"]
    listening_mode = "SINGLE"
    
    [dns.hosts]
    # Local DNS records
    "cp-1.okd.jenniferpweir.com" = "192.168.0.11"
    "cp-2.okd.jenniferpweir.com" = "192.168.0.12"
    "cp-3.okd.jenniferpweir.com" = "192.168.0.13"
    "api-int.okd.jenniferpweir.com" = "192.168.0.200"
    "api.okd.jenniferpweir.com" = "192.168.0.200"
    "pihole.homelab.jenniferpweir.com" = "192.168.0.236"
    "longhorn.homelab.jenniferpweir.com" = "192.168.0.236"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-wildcard-configmap
  namespace: pihole
data:
  02-my-wildcard-dns.conf: |
    address=/apps.okd.jenniferpweir.com/192.168.0.221
