apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  namespace: pihole
resources:
  - ../../base
  - configmap.yaml
  - ingress.yaml
patches:
  - target:
      kind: StatefulSet
      name: pihole
    patch: |-
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/storageClassName
        value: longhorn
      - op: replace
        path: /spec/volumeClaimTemplates/1/spec/storageClassName
        value: longhorn
