apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  namespace: grafana
  annotations:
    argocd.argoproj.io/sync-wave: "4"
  labels:
    dashboards: "grafana"
spec:
  config:
    log:
      mode: "console"
    security:
      admin_user: <path:projects/1086456784694/secrets/grafana_admin_user#grafana_admin_user>
      admin_password: <path:projects/1086456784694/secrets/grafana_admin_password#grafana_admin_password>
