kind: ArgoCD
apiVersion: argoproj.io/v1beta1
metadata:
  name: argocd
  namespace: argocd
spec:
  controller:
    resources:
      limits:
        cpu: 400m
        memory: 2048Mi
      requests:
        cpu: 200m
        memory: 1024Mi
  ha:
    enabled: false
    resources:
      limits:
        cpu: 500m
        memory: 256Mi
      requests:
        cpu: 250m
        memory: 128Mi
  redis:
    # specify image manually to avoid imagePullBackoff from enabling shortname enforcement in cri-o v1.34
    image: public.ecr.aws/docker/library/redis:8.4.0
    version: sha256:47200b04138293fae39737e50878a238b13ec0781083126b1b0c63cf5d992e8d
    resources:
      limits:
        cpu: 200m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
  repo:
    resources:
      limits:
        cpu: 200m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 256Mi
    serviceaccount: argocd-argocd-repo-server
    mountsatoken: true
    sidecarContainers:
      - name: avp-kustomize
        image: quay.io/jennweir/argocd-sidecar-avp:0.0.4@sha256:dd17cf54325d8fc95f4a51bb06c116fc2b56b6912d7cf0ff3537505e9633f8ae
        command:
          - /var/run/argocd/argocd-cmp-server
        env:
          - name: AVP_TYPE
            value: gcpsecretmanager
          - name: GOOGLE_APPLICATION_CREDENTIALS
            value: /var/run/secret/google/credentials.json
        resources:
          limits:
            cpu: 200m
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 128Mi
        volumeMounts:
          - mountPath: /var/run/secret/google
            name: google-creds
            readOnly: true
          - mountPath: /var/run/secrets/openshift/serviceaccount
            name: bound-sa-token
            readOnly: true
          - mountPath: /var/run/argocd
            name: var-files
          - mountPath: /home/argocd/cmp-server/plugins
            name: plugins
          - mountPath: /home/argocd/cmp-server/config/plugin.yaml
            subPath: avp-kustomize.yaml
            name: cmp-plugin
          - mountPath: /tmp
            name: tmp
    volumes:
      - name: google-creds
        configMap:
          name: google-creds
          defaultMode: 420
      - name: bound-sa-token
        projected:
          sources:
            - serviceAccountToken:
                audience: openshift
                expirationSeconds: 3600
                path: token
      - configMap:
          name: cmp-plugin
        name: cmp-plugin
  server:
    resources:
      limits:
        cpu: 500m
        memory: 256Mi
      requests:
        cpu: 125m
        memory: 128Mi
    route:
      enabled: true
  oidcConfig: |
    name: azure
    issuer: https://login.microsoftonline.com/<path:projects/648542105177/secrets/azure_tenant_id#azure_tenant_id>/v2.0
    clientID: <path:projects/648542105177/secrets/azure_client_id#azure_client_id>
    clientSecret: <path:projects/648542105177/secrets/azure_client_secret#azure_client_secret>
    # Optional set of OIDC scopes to request. If omitted, defaults to: ["openid", "profile", "email", "groups"]
    requestedScopes: ["openid", "profile", "email"]
    # Optional set of OIDC claims to request on the ID token.
    requestedIDTokenClaims: {"groups": {"essential": true}}
