apiVersion: config.openshift.io/v1
kind: Authentication
metadata:
  annotations:
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    release.openshift.io/create-only: "true"
  name: cluster
spec:
  oauthMetadata:
    name: ""
  serviceAccountIssuer: https://storage.googleapis.com/jennweir-homelab
  type: "OIDC"
  oidcProviders:
  - name: azuread
    issuer:
      issuerURL: "https://login.microsoftonline.com/<path:projects/648542105177/secrets/azure_tenant_id#azure_tenant_id>/v2.0"
      audiences:
        - <path:projects/648542105177/secrets/azure_client_id#azure_client_id>
    claimMappings:
      username:
        claim: "preferred_username"
    oidcClients:
      - clientID: <path:projects/648542105177/secrets/azure_client_id#azure_client_id>
        clientSecret:
          name: azure-client-secret
        componentName: console
        componentNamespace: openshift-console
        extraScopes:
        - email
        - profile
      - clientID: <path:projects/648542105177/secrets/azure_client_id#azure_client_id>
        clientSecret:
          name: azure-client-secret
        componentName: cli
        componentNamespace: openshift-console
        extraScopes:
        - email
        - profile
