apiVersion: config.openshift.io/v1
kind: OAuth
metadata:
  annotations:
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    release.openshift.io/create-only: "true"
  name: cluster
spec:
  identityProviders:
  - name: azuread
    mappingMethod: claim
    type: OpenID
    openID:
      clientID: <path:projects/648542105177/secrets/azure_client_id#azure_client_id>
      claims:
        email:
        - email
        name:
        - name
        preferredUsername:
        - preferred_username
      issuer: https://login.microsoftonline.com/<path:projects/648542105177/secrets/azure_tenant_id#azure_tenant_id>/v2.0
